.imageWrapper {
  grid-column-end: span 4;
  grid-row-end: span 1;
  position: relative;
  overflow: hidden;

  &:nth-child(odd) {
    @media screen and (max-width: 1200px) {
      grid-column-start: 2;
      grid-column-end: span 4;
    }

    @media screen and (max-width: 728px) {
      grid-column-start: 2;
      grid-column-end: span 6;
    }
  }

  @media screen and (max-width: 728px) {
    grid-column-start: 2;
    grid-column-end: span 6;
  }

  &:nth-child(1),
  &:nth-child(6) {
    margin-right: 4rem;
    margin-top: 8rem;

    @media screen and (max-width: 1200px) {
      margin: 0;
    }
  }

  &:nth-child(2) {
    margin-right: 2rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 1200px) {
      margin: 0;
    }
  }

  &:nth-child(3) {
    margin-left: 8rem;
    margin-top: 12rem;

    @media screen and (max-width: 1200px) {
      margin: 0;
    }
  }

  &:nth-child(4) {
    margin-left: 10rem;
    margin-top: 14rem;

    @media screen and (max-width: 1200px) {
      margin: 0;
    }
  }

  &:nth-child(5) {
    margin: 6rem 4rem 4rem 4rem;

    @media screen and (max-width: 1200px) {
      margin: 0;
    }

    @media screen and (max-width: 728px) {
      display: none;
    }
  }

  &:nth-child(7) {
    grid-column: 4 / span 4;
    margin: 8rem 8rem 2rem 1rem;

    @media screen and (max-width: 1200px) {
      margin: 0;
      grid-column-start: 2;
      grid-column-end: span 4;
    }

    @media screen and (max-width: 728px) {
      display: none;
    }
  }

  &:nth-child(8) {
    grid-column: 8 / span 4;
    margin: 4rem 4rem 1rem 0;

    @media screen and (max-width: 1200px) {
      margin: 0;
      grid-column-start: auto;
      grid-column-end: span 4;
    }

    @media screen and (max-width: 728px) {
      display: none;
    }
  }
}

.image {
  object-fit: cover;
}
