.gallery {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 1fr));
  height: 100%;
  gap: 6rem 2rem;
  margin-top: 10rem;
  grid-template-rows: repeat(3, 600px);

  @media screen and (max-width: 1200px) {
    grid-template-columns: 2rem repeat(8, 1fr) 2rem;
    gap: 2rem;
    margin-top: 6rem;
    grid-template-rows: repeat(4, 400px);
  }

  @media screen and (max-width: 728px) {
    grid-template-columns: 1rem repeat(6, 1fr) 1rem;
    gap: 2rem;
    margin-top: 5rem;
    grid-template-rows: repeat(5, 400px);
  }
}
